@use "@/styles/theme.scss";

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  inset: 0;
  overflow: auto;
  padding: 40px 20px;
}

.inviteForYou {
  position: fixed;
  top: -40px;
  left: 180px;
}

.letterBackground {
  position: fixed;
  z-index: -1;
}

.cardWrapper {
  margin-top: 180px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.ellipsis {
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.closeButton {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
  }