@use "@/styles/theme";

.not_theme {
  background-color: theme.$wheat;
}

.user_theme {
  background-color: theme.$theme-user;
  height: 100%;
  overflow: auto;
}

.community_theme {
  background-color: theme.$theme-community;
  height: 100%;
  overflow: auto;
}