@use "@/styles/theme";
@use "@/styles/utils";

.container {
  position: relative;
  width: 100%;
}

.search {
  width: 100%;
  background: white;
  @include utils.padding(0.5em);
  border: 1px solid theme.$black;
  border-radius: 5px;
}

.input {
  width: 80%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  &::placeholder {
    color: #666;
  }
}

.listWrapper {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 50;
}

.list {
  @include utils.space-x(10px);
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  :global([cmdk-group]) {
    padding: 8px;
  }
}


.item {
  padding: 8px;
  cursor: pointer;

  &:hover {
    background-color: theme.$background;
    border-radius: 4px;
  }
}

.empty {
  padding: 8px;
}
