@use "../../../styles/theme";

.mobo {
  font-family: MOBO;
  color: theme.$wheat;
  margin: auto;
}

.card {
  background: theme.$black;
  width: 80%;
  margin: auto;
  color: theme.$wheat;

  .avatorPreview {
    width: 50px;
    height: 50px;
    overflow: hidden;
  }

  .avatorForm {
    display: flex;
    gap: 10px;

  }

  .avatorFormControl {
    margin-top: 10px;
    width: 100%
  }


  .span {
    color: theme.$red;
  }

  .input {
    color: theme.$black;
  }

  .input::placeholder { //placeholderの中を灰色に
    color: theme.$gray;
  }

  .form {
    width: 80%;
    margin: auto;
  }

  .cardFooter {
    width: 100%;
    place-content: center;

    .button {
      width: 30%;
    }
  }

}

.word {
  border-bottom: 1px solid black;
}

.h1 {
  font-size: 200%;
  display: block;
}

.block {
  display: block;
}

//ProfileSettings
.profile_card {
  width: 1000px;
  height: 500px;
  position: relative;
  display: flex; //titleとselfを横並びにするのに使った

  .setting_button {
    position: absolute;
    right: 20px;
    bottom: 10px;
  }

  .avatar {
    position: absolute;
    right: 0;
    top: -100px;
    width: 180px;
    height: 180px;
    border: 5px solid #000000;
    overflow: hidden;
  }

  .profile_word_container {
    margin: 0 auto;
  }

  .profile_title {
    border-bottom: 1px solid theme.$gray;
    width: 600px;
    display: flex;
    position: relative;

    .profile_mem {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      position: absolute;
      left: 300px;
      color: #000000;
      font-size: 20px;
      bottom: 0;
    }
  }
}

.profile_name {
  font-family: MOBO;
  font-style: normal;
  font-weight: 600;
  color: black;
  font-size: 53px;
}

.profile_self {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  width: 400px;
  border-bottom: 1px solid theme.$gray;
}




