@use "@/styles/theme";

.scout_detail_card {
  width: 100vh;
  height: 80vh;
  border: solid theme.$black;
  overflow: hidden;
  position: relative;


  .declineButton {
    margin-top: 1vh;
    margin-left: 5vh;
    border: solid theme.$black;
  }

  .heart {
    position: absolute;
    right: 5vh;
    bottom: 2vh;
  }
}

.scout_detail_tags {
  display: flex;
  width: 90vh;
  border-bottom: solid theme.$gray;
  padding: 5px;
  margin: auto;
  gap: 10px
}

.scout_property_container {
  border-bottom: solid theme.$gray;
  height: 30vh;
  width: 90vh;
  margin: 0 auto;
  overflow: hidden;
}

.scout_detail_name {
  font-family: MOBO;
  position: relative;
  top: 30px;
  left: 40px;
  font-style: normal;
  font-weight: 600;
  color: black;
  font-size: 45px;
}

.scout_detail_avatar_card {
  top: -40px;
  width: 206px;
  height: 206px;
  border: 5px solid #000000;
  overflow: hidden;
  float: right;
}

.scout_detail_mem1 {
  position: relative;
  top: 100px;
  left: 40px;
  font-weight: 600;
  font-size: 20px;
  color: theme.$blue;
}

.scout_detail_self_container {
  width: 90vh;
  margin: 0 auto;
  height: auto;
  overflow-y: hidden;
}

.scout_detail_self {
  margin: 0 auto;
  height: 40vh;
  border-bottom: solid theme.$gray;
}